APP_HOST="localhost"
APP_PORT=8080
APP_LOGGER_LEVEL="info"
APP_PASSWORD_SALT="saltexample"

LLM_URL=""
LLM_REQUEST_TIMEOUT=12

JWT_SECRET="jwtsecretexample"
JWT_ACCESS_EXP=5
JWT_REFRESH_EXP=1440

POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_OUTPUT_PORT=5432
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="rag_search"

